<div class="contactSection" id="contactSection">
    <h6>Contact</h6>
    <h2>Contact with Me</h2>
    <div class="contactDetails">
        <div id="leftSction">
            <h3>Drop me a Message</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non totam eius eaque dolor harum error
                voluptatibus provident pariatur in quidem.</p>
            <div class="contacts">
                <i class="bi bi-geo-alt-fill"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <div class="contacts">
                <i class="bi bi-telephone-fill"></i>
                <p>+91-8260643722</p>
            </div>
            <div class="contacts">
                <i class="bi bi-envelope"></i>
                <p>ajaysahoo1237@gmail.com</p>
            </div>
        </div>
        <div id="rightSction">
            <form method="POST">
                <input type="text" name="name" id="name" placeholder="Enter your Name" required>
                <input type="email" name="email" id="email" placeholder="Enter your Email" required>
                <input type="number" name="phone" id="phone" placeholder="Enter your Phone" required>
                <textarea name="message" id="message" cols="30" rows="7" placeholder="Message"></textarea>
                <button type="submit">Send <span><i class="bi bi-send-fill"></i></span></button>
            </form>
        </div>
    </div>
</div>