<div class="navbar">
    <div id="nav-left">
        <a href="#">My <span>Portfolio</span></a>
    </div>
    <div id="nav-right">
        <a href="/" class="active">Home</a>
        <a href="#projectSection">Projects</a>
        <a href="#">About</a>
        <a href="#contactSection">Contact</a>
    </div>
</div>