<div class="projectSection" id="projectSection">
            <h6>My</h6>
            <h2>Projects</h2>
            <div class="projectContainer">
                <div class="projectsCard">
                    <img src="/assets/project1.png" alt="Not Found!">
                    <h5>My Project 1</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nam.</p>
                    <div class="btns">
                        <a href="https://restaurant-git-main-ajaysahoo2002.vercel.app/" target="_blank"><button
                                id="btn1">Live preview</button></a>
                        <a href="https://github.com/Ajaysahoo2002/Restaurant.git" target="_blank"><button
                                id="btn2">Check on GitHub</button></a>
                    </div>

                </div>
                <div class="projectsCard">
                    <img src="/assets/project2.png" alt="Not Found!">
                    <h5>My Project 2</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nam.</p>
                    <div class="btns">
                        <a href="#" target="_blank"><button id="btn1">Live preview</button></a>
                        <a href="#" target="_blank"><button id="btn2">Check on GitHub</button></a>
                    </div>

                </div>
                <div class="projectsCard">
                    <img src="/assets/project3.png" alt="Not Found!">
                    <h5>My Project 3</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nam.</p>
                    <div class="btns">
                        <a href="https://netflixclone-ajaysahoo2002.vercel.app/" target="_blank"><button id="btn1">Live
                                preview</button></a>
                        <a href="https://github.com/Ajaysahoo2002/netflixClone.git" target="_blank"><button
                                id="btn2">Check on GitHub</button></a>
                    </div>
                </div>
                <div class="projectsCard">
                    <img src="/assets/project4.png" alt="Not Found!">
                    <h5>My Project 4</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, nam.</p>
                    <div class="btns">
                        <a href="https://digital-calculator-git-main-ajaysahoo2002.vercel.app/" target="_blank"><button
                                id="btn1">Live preview</button></a>
                        <a href="https://github.com/Ajaysahoo2002/DigitalCalculator.git" target="_blank"><button
                                id="btn2">Check on GitHub</button></a>
                    </div>
                </div>
            </div>
        </div>